<div class="max-w-3xl mx-auto">
  <header class="py-4">
    <h1 class="text-4xl"><%= gettext "%{name}", name: "Collected Weave" %></h1>
  </header>

  <%= Phoenix.LiveView.live_render(@conn, CollectedLiveWeb.WeaveLive, session: %{}) %>

</div>
