<header>
  <h1><%= gettext "Welcome to %{name}!", name: "Collected Live" %></h1>
</header>

<ul>
  <li>Public micro blog with code highlighting, RSS feed, searchable index</li>
  <li>Searchable SVG icon/logo directory with color replacement</li>
  <li>Hero image generator with Unsplash images and text styling</li>
  <li>Search open source libraries’ code</li>
  <li>Dummy API generator for JSON and GraphQL</li>
  <li>A newsletter with news from the community</li>
</ul>
