/* This file is for your main application css. */

/*@import "./phoenix.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  text-decoration: var(--hover-text-decoration);
}

article {
  --hover-text-decoration: underline;
}

.var\:underline-hovered-links {
  --hover-text-decoration: underline;
}

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
