/* Var consumers */

a:hover {
  text-decoration: var(--link--hover-text-decoration);
}

a {
  display: var(--link--display);
  padding-top: var(--link--padding-top);
  padding-bottom: var(--link--padding-bottom);
  padding-left: var(--link--padding-left);
  padding-right: var(--link--padding-right);
}

/* Defaults */

article {
  --link--hover-text-decoration: underline;
}

/* Var utilities */

/* @textbox:text-lg */
/* @link:hover:underline */

.\@link\:hover\:underline {
  --link--hover-text-decoration: underline;
}
